.error-snackbar {
  background-color: #f44336; /* Red color, you can customize this */
  color: #fff;
}

.success-snackbar {
  background-color: rgb(10, 152, 10); /* Red color, you can customize this */
  color: #fff;
}
